.editBtn {
  background-color: rgb(192, 190, 74);
}

.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.inputContainerWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  position: relative;

  input {
    padding: 10px;
    border: 1px solid rgb(182, 182, 182);
    border-radius: 5px;
  }
}

.inputContainer {
  display: flex;
  justify-content: stretch;
  position: relative;
}

.passwordToggle {
  position: absolute;
  top: 25px;
  right: 0px;
}

.passwordGenerate {
  position: absolute;
  top: 25px;
  right: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.actions {
  display: flex;
}

.error {
  text-align: center;
  color: rgb(177, 0, 0);
}
