<div class="wrapper">
  <h2 mat-dialog-title>Confirm Deletion</h2>
  <mat-dialog-content mat-dialog>
    <div class="content">
      <p class="para">
        Are you sure you want to delete password with title - <b>{{ data.title }}</b
        >?
      </p>
      <span class="error">{{ errorMessage() }}</span>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button matButton="tonal" mat-dialog-close>Cancel</button>
    <button class="deleteBtn" matButton="filled" (click)="handleDeleteClick()">Delete</button>
  </mat-dialog-actions>
</div>
