td {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.actionsContainer{
  display: flex;
  column-gap: 20px;
}

.editBtn {
  background-color: rgb(173, 173, 53);
}

.deleteBtn {
  background-color: rgb(177, 0, 0);
}