td {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.actionsContainer {
  display: flex;
  column-gap: 20px;
}

.editBtn {
  background-color: rgb(192, 190, 74);
}

.deleteBtn {
  background-color: rgb(177, 0, 0);
}

.emptyState {
  display: flex;
  flex-direction: column;
  align-items: center;
}
