<div class="wrapper">
  <h2 mat-dialog-title>Create Password</h2>
  <mat-dialog-content mat-dialog>
    <form autocomplete="off" class="form" #actorForm="ngForm" (ngSubmit)="handleSubmit()">
      <div class="inputContainerWrapper">
        <label for="title">Title:</label>
        <input
          type="text"
          id="title"
          required
          [(ngModel)]="model().title"
          name="title"
          #title="ngModel"
        />
        @if(title.invalid && (title.dirty || title.touched)){
        <div>
          @if (title.errors?.['required']) {
          <span class="error">Title is required</span>
          }
        </div>
        }
      </div>
      <div class="inputContainerWrapper">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          required
          [(ngModel)]="model().username"
          name="username"
          #username="ngModel"
        />
        @if(username.invalid && (username.dirty || username.touched)){
        <div>
          @if (username.errors?.['required']) {
          <span class="error">Username is required</span>
          }
        </div>
        }
      </div>
      <div class="inputContainerWrapper">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          required
          email
          [(ngModel)]="model().email"
          name="email"
          #email="ngModel"
          autocomplete="email"
        />
        @if(email.invalid && (email.dirty || email.touched)){
        <div>
          @if (email.errors?.['required']) {
          <span class="error">Email is required</span>
          } @if (email.errors?.['email']) {
          <span class="error">Please enter a valid email address</span>
          }
        </div>
        }
      </div>
      <div class="inputContainerWrapper">
        <label for="password">Password:</label>
        <input
          autocomplete="off"
          [type]="isVisible() ? 'text' : 'password'"
          id="password"
          required
          [(ngModel)]="model().password"
          name="password"
          #password="ngModel"
        />
        @if(password.invalid && (password.dirty || password.touched)){
        <div>
          @if (password.errors?.['required']) {
          <span class="error">Password is required</span>
          }
        </div>
        }
        <button
          type="button"
          class="passwordGenerate"
          matIconButton
          (click)="handleGeneratePassword()"
        >
          <mat-icon svgIcon="dice"></mat-icon>
        </button>
        <button type="button" class="passwordToggle" matIconButton (click)="handlePasswordToggle()">
          <mat-icon [svgIcon]="isVisible() ? 'hidden-eye' : 'eye'"></mat-icon>
        </button>
      </div>
      @if(!!errorMessage()){
      <span class="error">{{ errorMessage() }}</span>
      }
      <mat-dialog-actions>
        <div class="actions">
          <button matButton="tonal" mat-dialog-close>Cancel</button>
          <button type="submit" class="createBtn" matButton="filled" [disabled]="actorForm.invalid">
            Create
          </button>
        </div>
      </mat-dialog-actions>
    </form>
  </mat-dialog-content>
</div>
